--- 
- 
  apt: 
    name: openjdk-8-jdk
    state: present
  name: "Ensure Java is installed."
- 
  apt_key: 
    state: present
    url: "https://packages.elastic.co/GPG-KEY-elasticsearch"
  name: "Adding Elasticsearch Repository Key for Version 2.1.2"
- 
  apt_repository: 
    filename: elasticsearch-2.x.list
    repo: "deb https://packages.elastic.co/elasticsearch/2.x/debian stable main"
    state: present
  name: "Adding Elasticsearch Repository for Version 2.1.2"
- 
  apt: 
    name: elasticsearch=2.1.2
  ignore_errors: true
  name: "Installing Elasticsearch"
- 
  name: "Enable and Start ElasitcSearch"
  service: 
    enabled: true
    name: elasticsearch
    state: started
- 
  name: "Check if mapper plugin exists"
  register: check_path
  stat: path=/usr/share/elasticsearch/plugins/mapper-attachments
-
  name: "Install Elasticsearch mapper attachment plugin."
  become: true
  shell: /usr/share/elasticsearch/bin/plugin install elasticsearch/elasticsearch-mapper-attachments/3.1.2
  when: "not check_path.stat.exists"
- 
  dpkg_selections: 
    name: elasticsearch
    selection: hold
  name: "Disabling Elasitcsearch from Updating"
